/* Top Header */
.nav-parent {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;

    @media (max-width:996px) {
        display: none;
    }


}

.top-header {
    background: #f15a29;
    padding: 6px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    position: relative;
}

.top-links a {
    margin-left: 18px;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

/* Main Navbar */
.main-navbar {
    display: flex;
    justify-content: space-between;
    padding: 12px 40px;
    align-items: center;
    flex-direction: row;
    height: 70px;
    transition: all 0.3s ease;
    z-index: 2;

    .nav-link {
        color: rgb(255, 255, 255);
        font-weight: 300;
        letter-spacing: 0.3px;
    }

    &.light {
        background-color: white;

        .nav-link {
            color: #f15a29;
            font-weight: 400;
            letter-spacing: 0.3px;
        }
    }

    &.scrolling {
        transform: translateY(-200%);


    }

    &.stopscrolling {
        transform: translateY(0);
    }

}

.navbar-left {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-right {
    display: flex;
    align-items: center;
    flex-direction: row;

}

.logo-img {
    margin-right: 12px;
    height: 120%;
}

.logo-text {
    font-weight: bold;
    color: #f15a29;
    line-height: 1.2;
}

/* Basic Reset */
.nav-item,
.dropdown-item {
    position: relative;
}

.sub-link a {
    color: white;
}

.nav-menu {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.nav-item>.nav-link {
    font-size: 17px;

    &:hover {
        color: #f15a29;

    }
}

.nav-item>.sub-link {
    font-size: 17px;

    &:hover {
        color: #f15a29;

    }
}

.sub-link {
    color: #686868;
    width: 100%;
}

/* Main Dropdown */
.dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    z-index: 1000;
    min-width: 220px;
    font-size: 15px;
}

/* Sub-Submenu aligned to right */
.dropdown.right {
    top: 0;
    left: calc(100%);
    min-width: 220px;
}



.dropdown {
    .sub-link {
        padding: 5px 15px;
        text-transform: capitalize;

        &:hover {
            background-color: #f15a29;
            color: white;
            padding: 10px 15px;

        }
    }
}

.arrow {
    font-size: 15px;
}

/* Responsive */
@media (max-width: 992px) {
    .main-navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav-menu {
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .dropdown,
    .dropdown.right {
        position: relative;
        box-shadow: none;
    }
}