.top-bar-main{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #ef5d2c;
    color: white;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    .right{
        margin-right: 2rem;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}